/* line 4, ../../scss/_reset.scss */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* line 9, ../../scss/_reset.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 1, ../../scss/_header.scss */
header {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 4, ../../scss/_header.scss */
header nav {
  font-size: 20px;
  border-bottom: 2px;
}
/* line 9, ../../scss/_header.scss */
header nav ul {
  list-style: none;
}
/* line 13, ../../scss/_header.scss */
header nav ul li {
  margin: 0px 10px;
  display: inline-block;
}
/* line 18, ../../scss/_header.scss */
header nav ul li a {
  padding: 5px 10px;
  display: block;
}
/* line 25, ../../scss/_header.scss */
header nav ul li a:hover {
  border-bottom-color: red;
  background-color: #aaa;
  -webkit-transition: background-color 1s ease-out 0.2s;
  -moz-transition: background-color 1s ease-out 0.2s;
  -o-transition: background-color 1s ease-out 0.2s;
  transition: background-color 1s ease-out 0.2s;
}

/* line 1, ../../scss/_footer.scss */
footer {
  background-color: black;
  text-align: right;
  font-size: 10px;
  padding: 10px;
  color: #aaa;
}
